.Logo{
 display:flex;
 align-items: center;
}
.Logo img {
  width: 60px;
  height: 60px;
  margin: 5px;
}
.Logo span {
    font-family: "Mountains of Christmas" , cursive;
    color: #930d26;
    font-size: 1.8rem;
}