.ToysKit {
  flex-flow: row wrap;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ToysKit .bento {
  flex-flow: row wrap;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;

  background-image: url(../../../assests/Tree.jpg);
  background-size: cover;
  width: 100%;
  max-width: 380px;
  height: 485px;
  margin: 0 auto;
  transform: rotate(-2deg);
  transform: rotate(2deg);
}
.ToysKit .treeBento {
  position: relative;
  top: 10px;
  left: -17px;
  border-left: 212px solid transparent;
  border-right:212px solid transparent;
  border-bottom: 450px solid transparent;
  border-radius: 165px;
  width: 0;
  height: 0;
  margin-bottom: 80px;
  transform: rotate(-2deg);
}
.stem {
  width: 10px;
  height: 40px;
  position: relative;
  display: block;
  top: 440px;
  left: 188px;
  background-color: #5f3915;
}

.ToysKit .price {
  font-size: 25px;
  font-weight: bold;
  margin-left: 130px;
}
