.ToysKit{
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 400px  solid #6aa16a;
    width:0;
    height: 0;
    margin-bottom: 80px;
}
.Sec{
 content:"";
 width:20px;
 height: 40px;
 position: relative;
 display: block;
 top:400px;
 left:-17px;
  background-color: #5f3915;
}