.ToysControls{
    border:3px solid #cf1546;
    background-color:#ec9794;
    width: 380px;
    height:420px;
    border-radius:10px;
   padding-top: 20px;
    margin:5px;
    margin-top: 38px;

    display:flex;
    flex-flow: column nowrap;
    align-items: center;
   
}
.orderButton{
width: 75px;    
border:none;
background-color: khaki;
font-weight: bold;
border-radius: 18px;
border: 2px solid gold;
cursor: pointer;
font-family: "Mountains of Christmas" ;
padding: 5px 12px;
font-size: 16px;
text-align: left;
}
.orderButton:disabled{
    opacity: .5;
}
.orderButton:not(:disabled):hover{
    opacity: .8;
}
