.Button {
  width: 75px;
  color: #930d26;
  border: none;
  background-color: lightgoldenrodyellow;
  font-weight: bold;
  border-radius: 18px;
  border: 3px solid gold;
  cursor: pointer;
  font-family: "Mountains of Christmas";
  padding: 5px 12px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 4px;
  box-shadow: 0 0 6px #930d26;
}
.Button:disabled {
  opacity: 0.5;
}
.Button:not(:disabled):hover {
  opacity: 0.8;
}
.green {
  background-color: green;
  color: white;
  width: 100px;
  margin-right: 10px;
}
.red {
  background-color: red;
  color: white;
  width: 80px;
}
