.Order {
  box-shadow: 0 0 6px #930d26;
  border-radius: 1em;
  flex-basis: 380px;
  flex-grow: 1;
  padding: 1em;
  margin: 0.5em;
}
.Order .details {
  font-size: 1.2rem;
  margin-bottom: 0.3em;
}
.Order .price {
  font-weight: bold;
  font-size: 2rem;
  color: #930d26;
  font-family: "Mountains of Christmas", cursive;
  margin-bottom: 0.5em;
}
.Order .ingredient {
  border: 1px solid #fea77c;
  border-radius: 0.3em;
  padding: 0.3em;
  display: inline-block;
  margin: 0 0.3em 0.3em 0;
}
