.Toys{
    width: 36px;
    height:40px;
  
   background-repeat: round;
  
}
.yellowBall{
   
    background-image: url(../../../../assests/yellowBall.png);
}
.blueBall{
   background-image: url(../../../../assests/blueBall.png);
}
.pinkBall{
    background-image: url(../../../../assests/pinkBall.png);
}
.lightBlueBall{
    background-image: url(../../../../assests/lightblueBall.png);
}
.greenBall{
    background-image: url(../../../../assests/greenBall.png);
}
.orangeBall{
    background-image: url(../../../../assests/orangeBall.png);
}