.Tree {
  flex-flow: row wrap;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Tree .imageTree {
  flex-flow: row wrap;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;

  background-image: url(../../../assests/Tree.jpg);
  background-size: cover;
  width: 100%;
  max-width: 380px;
  height: 485px;
  margin: 0 auto;
}
.Tree .treeSet {
  position: relative;
  top: 55px;
  left: -180px;
  border-left: 190px solid transparent;
  border-right:200px solid transparent;
  border-bottom: 450px solid transparent;
  width: 0;
  height: 0;
  transform: rotate(-20deg);
}
.Tree .presents1 {
  background-image: url(../../../assests/presents1.png);
  background-repeat: round;

  width:190px;
  height:170px;

  margin-top: -150px;
  margin-left: 10px;
}
.Tree .presents2 {
  background-image: url(../../../assests/presents2.png);
  background-repeat: round;

  width:190px;
  height:170px;

  margin-top: -150px;
  margin-left: 250px;
}

.Tree .price {
  font-size: 35px;
  font-weight: bold;
  margin-left: 130px;
  color: #930d26;
  font-family: "Mountains of Christmas";
}
