.Tree {
  flex-flow: row wrap;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Tree .imageTree {
  flex-flow: row wrap;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;

  background-image: url(../../../assests/Tree.jpg);
  background-size: cover;
  width: 100%;
  max-width: 380px;
  height: 485px;
  margin: 0 auto;
}
.Tree .treeSet {
  position: relative;
  top: 55px;
  left: -190px;
  border-left: 195px solid transparent;
  border-right:195px solid transparent;
  border-bottom: 435px solid transparent;
  width: 0;
  height: 0;
  transform: rotate(-20deg);
   
}

.Tree .price {
  font-size: 35px;
  font-weight: bold;
  margin-left: 130px;
  color: #930d26;
  font-family: "Mountains of Christmas";
}
